@font-face {
	font-family: dali;
	src: url('./fonts/daliangti.ttf')
}
@font-face {
	font-family:beifang;
	src: url('./fonts/beifangxingshu.ttf');
}
.as {
	text-align: center;
	font-size: 6.5rem;
	vertical-align: bottom;
	line-height: 120px ;
	font-family:beifang;
}
h4{
	font-family:楷体;
}
