@charset "utf-8";
body,html{ min-width: 100%; overflow-x: hidden; }
*{ margin:0; padding:0; box-sizing: border-box; }
body,p,h1,h2,h3,h4,h5,table,ul,li,form,input{ margin:0; padding:0; color:#000; font-family:"Microsoft yahei"; }

body,p{ font-size:14px; border:none; color: #fff;}
a{ font-size:14px; color:#000; text-decoration:none; border:none; padding:0; margin:0;}
table{border-collapse:collapse;}
img{ border:0; margin:0; padding:0;}
ul,li{ list-style:none; border:0; margin:1; padding:0;}
dl,dt,dd{ margin:0; padding:0; -webkit-margin-start:0;}
h1,h2,h3,h4,h5{ font-weight:normal; font-size:12px; display:block;}
strong,b{ font-weight:normal;}
table,tr,td{ border-spacing:0;}
em,i,b{ font-style:normal;}
p{ line-height: 170%; color: #555; font-size: 14px;}
input{ border: none; background: none; }
figcaption{ display: block;} 
.fl{float:left;}
.fr{float:right;}
.clearfix{*zoom:1;} 
.clearfix:before,.clearfix:after{display:table; line-height:0; content:"";}
.clearfix:after{clear:both;}


.tit img{ display: block; margin: 0 auto;}
.index-sec1 ul{ margin-right: -50px; padding-top: 50px;}
.index-sec1 li{ float:left; width: 100px; height: 100x; margin-right: 50px; margin-bottom: 40px;transition: all 0.6s;}
.index-sec1 li figure{display: block; margin: 30px auto 20px auto;}
.index-sec1 li figure img{ display: block; margin: 0 auto;}
.index-sec1 li p{ text-align: center; color: #333; font-size: 16px;}
.index-sec1 li p{ text-align: center; color: #333; font-size: 16px;}
.index-sec1 li:hover{ transform: translateY(10px);}

